<div class="container">
  <div class="row">
    <div class="header">
      <div class="nav">
        <ul>
          <li>Home</li>
          <li>SignUp</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="body">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="footer">
      <div class="block">
        Some Footer Link here..
      </div>
    </div>
  </div>
</div>